#part1 {
    width: 100%;
    background-color: #FE5601;
}

#title-dn {
    display: flex;
    width: 100%;
}
#title-dn > li { 
    display: inline-block;
    line-height: 20px;
    border: 4px solid #561D00;
    text-align: center;
    font-family: Roboto-light;
}

#trangchu {
    background-color: #924C31;
    cursor: pointer;
    width: 42%;
}

#logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#diendan {
    width: 58%;
}
#trangchu a {
    color: white;
    text-decoration: none;
}

#trangchu:hover a {
    text-decoration:underline;
}

#title-dn #diendan {
    background-color: #FFAF4C;
    cursor: pointer;
    border-left: none;
}

#title-dn #diendan:hover a {
    text-decoration:underline;
}

#title-dn #diendan a {
    color: black;
    text-decoration: none;
    position: relative;
    top: 3px;
}

#part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#part3 h4 {
    font-family: Roboto-thin;
    font-size: 12px;
}

#box > div {
    display: flex;
    margin: 10px 0px;
}

#tk{
    position: relative;
    left: 10px;
    top: -5px;
}

#mk {
    position: relative;
    left: 20px;
    top: -5px;
}

#box > div > input {
    padding: 4px 5px;
    border-radius: 5px;
    border: none;
}

#box h3 {
    font-family: Roboto-light;
    font-size: 12px;
}

.server {
    display: flex;
    margin-top: 5px;
}

.server input,
.server label{
    margin-left: 5px;
    font-family: Roboto-Light;
    font-size: 13px;
}

#home h1 {
    font-family: Roboto-Light;
    background-color: #F44336;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 4px;
}

#home h1:hover {
    background-color: #CCCCCC;
}

#part5 {
    width: 100%;
    height: 90px;
}

#ghichu1 {
    display: flex;
}
#ghichu2 {
    color: #b4430a;
    margin-left: 2px;
    cursor: pointer;
}

#ghichu3 {
    color: #b4430a;
    margin-left: 70px;
    cursor: pointer;
}